body {
  background: #160d0e url(../img/table-tall.png) repeat-x top;
  color: #fff;
  font-family: Arial, san-serif;
}
footer {
  display: block;
}
ul, ol {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
}
a img {
  border: 0px;
}
.container {
  max-width: 819px;
  width: 70%; /*819*/
  margin: 0 auto;
  position: relative;
  margin-top: 630px;
}
h1 {
  width: 215px;
  height: 166px;
  text-indent: -999em;
  display: block;
  overflow: hidden;
  background: url('../img/sprite.png') no-repeat top left;
  background-position: -7px -206px;
  position: absolute;
  top: -260px;
  left: 0px;
  z-index: 2;
}
.lego {
  width: 166px;
  padding-top: 315px;
  display: block;
  background: url(../img/lego-jester.png) no-repeat top;
  position: absolute;
  top: -357px;
  right: 0px;
  z-index: 1;
}
.creations h2 {
  width: 327px;
  height: 25px;
  text-indent: -999em;
  display: block;
  overflow: hidden;
  background: url('../img/sprite.png') no-repeat top left;
  background-position: -6px -166px;
  max-width: 100%;
}
.creations ul {
  list-style: none;
  overflow: auto;
  margin-top: 35px;
}
.creations ul li {
  float: left;
  width: 30.64713064713065%; /*251/819*/
  margin-right: 2.6862027%; /*22/819*/
}
.creations ul li:last-child {
  margin-right: 0px;
}
.creations ul li img {
  max-width: 100%;
  margin-bottom: 45px;
  -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(255, 255, 255, .3)));
}
.footer {
  margin-top: 28px;
  font-size: 10px;
}
.footer h2 {
  background: url('../img/sprite.png') no-repeat -7px -130px;
  width: 355px;
  height: 25px;
  overflow: hidden;
  text-indent: -999em;
  float: left;
  margin-right: 20px;
  max-width: 100%;
}
.footer p {
  clear: both;
  padding-top: 20px;
}
.social {
  float: left;
  list-style: none;
  margin: 10px 0 0 0;
}
.social li {
  float: right;
  margin-left: 3px;
}
.social li a {
  width: 32px;
  height: 32px;
  text-indent: -999em;
  display: inline-block;
  overflow: hidden;
  background: url('../img/sprite.png') no-repeat top left;
}
.social .github { background-position: -8px -91px;  }
.social .linkedin { background-position: -7px -56px; }
.social .twitter { background-position: -7px -18px; }

@media screen and (max-width: 1024px) {
  body {
    background: #160d0e url(../img/table-tall.png) repeat-x 0px -182px;
  }
  .container {
    width: 90%;
    margin-top: 450px;
  }
}

@media screen and (max-width: 480px) {
  body {
    background: #160d0e url(../img/table-tall.png) repeat-x 0px -232px;
  }
  .container {
    margin-top: 400px;
  }
  .lego {
    right: -25px;
  }
  .creations ul li {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  .creations ul li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    -webkit-box-reflect: none;
  }
}

@media screen and (max-width: 320px) {
  .creations h2 {
    background: url('../img/sprite.png') no-repeat -6px -495px;
    width: 113px;
    height: 85px;
  }
  .footer h2 {
    background: url('../img/sprite.png') no-repeat -7px -425px;
    width: 247px;
    height: 55px;
  }
}